<div class="jumbotron border border-dark" id = "index">
    <div class="row row justify-content-around">
      <picture>
        <img src="../assets/imagenes/logoUpmSinFondo.png"  class="rounded float-left escudoUpm col-3" alt="">
        <img src="../assets/imagenes/miw.png"  class="rounded float-left escudoUpm col-4" alt="">
      </picture>
    </div>
    <div class="row justify-content-between">
      <div class="col-5 text-center">
        <h3>Máster en Ingeniería Web</h3>
        <h6>Front-End para navegadores web</h6>
      </div>
      <div class="col-4">
        <img src="../assets/imagenes/barajaEspaniola2.jpg"  class="img-fluid escudoBaraja col-5" alt="">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <h6>Práctica - juego de naipes (parejas)</h6>
      </div>
    </div>
</div>
